body {
  margin: 0px; 
}

header {
  height: 720px; 
  background-image: url("https://www.thebalancecareers.com/thmb/8GtVxyNxwXFjw-OtpVF4U0UhUmA=/5020x2824/smart/filters:no_upscale()/nurse-56a0f10d5f9b58eba4b567dd.jpg");
  background-size: cover;
  background-position: top;  
  position: relative;  
  border-bottom: 2px solid black;

  display: flex;  
  align-items: center;   
  justify-content: center;
}

#overlay{  
  background-color: rgba(0, 0, 0, 0.3); 
  position: absolute;
  top: 0px; 
  height: 100%;
  width: 100%;
}

@media (max-width: 520px) {
  header {
    height: 25em;
    line-height: 1.2; 
  }
}

header h1 {
  color: black;  
  font-size: 1em;
  text-align: center;
  z-index: 1;  
  line-height: 1.5;
}

header h1 strong {
  font-size: 5em;
  letter-spacing: 3.5px;
  /*color: black;*/
  font-family: 'Libre Baskerville', 'sans-serif';
  font-style: italic;
  text-shadow: 8px 8px 12px white,-4px -4px 6px white;   /*proprietà text-shadow non vista durante il corso --> aggiunta in accordo con messaggi sul gruppo Discord*/
}

@media (max-width: 520px) {
  header h1 strong {
    font-size: 2.2em;
    text-shadow: 8px 8px 12px white, -2px -2px 2px white;
    letter-spacing: 4px;
  }
}

@media (min-width: 521px) and (max-width: 1024px) {  
  header h1 strong {
    font-size: 4.35em;
    text-shadow: 8px 8px 12px white, -2px -2px 2px white;
    letter-spacing: 4px;
  }
}

header #logo{
    display:flex;
    justify-content: center;  
    align-items: center;
}

#logo img{
  width: 110px;
  height: 110px;
  margin-top: 25px;
}

#logo h2{
  font-size: 3.7em;
  /*color: black;*/
  font-family: 'Poppins', 'sans-serif';
  /*font-weight: bold;*/
  text-transform: uppercase;
  margin-top: -10px;
  margin-bottom: -145px; 
  text-shadow: 8px 8px 12px white,-4px -4px 6px white;
}

@media(max-width:520px){
  #logo h2{
    font-size: 1.8em;
    text-shadow: 8px 8px 12px white,-4px -4px 6px white;
    margin-bottom: -50px;
    margin-top: 1px;
  }
}

@media(max-width:520px){
  #logo img{
      width: 50px;
      height: 50px;
  }
}

header nav {
  color: black;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 0;  
  right: 0;
  height: 8.5%;
  background: rgba(46, 232, 228, 0.5);

  font-size: .875em;
  padding: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
}


header nav #contattaci{
  /*color: black;*/
  font-weight: bold;
  font-family: 'Josefin Sans', sans-serif, 'Tahoma';
  font-size: 1.9em;
  /*font-style: normal;*/
  /*line-height: normal;*/  /*default*/
  letter-spacing: 1px;  
  padding: 15px 15px;
  border: 3px solid rgb(11, 96, 117);
  border-radius: 100px;
  text-transform: uppercase;
}

header nav #contattaci:hover {
  background-color: rgba(27, 161, 161, 0.4);
  color: black;
}

@media (max-width: 520px) {
  header nav #contattaci {
    font-size: 0.9em;
    letter-spacing: 3px;
    padding: 5.8px 8.4px;
    border: 2px solid rgb(11, 96, 117);
    border-radius: 100px;
    margin-left: -10px;
  }
}

a {   
    cursor: pointer;
}
  
#pulsante a{
  /*color: black;*/
  font-weight: bold;
  font-family: 'Amatic SC', cursive, 'Arial';
  font-size: 1.25em;;
  /*font-style: normal;*/
  /*line-height: normal;*/  /*default*/
  padding: 10px 15px;
  border: 2px solid rgb(11, 96, 117);
  border-radius: 100px;
  letter-spacing: 1px;
  margin-right: 5px;
}
  
#pulsante a:hover {
  background-color: rgba(252, 252, 252, 0.4); 
}
  
#links {
  /*color: black;*/
  /*font-weight: normal;*/
  font-family: 'Amatic SC', cursive, 'Georgia';
  font-size: 1.15em;
  /*font-style: normal;*/
  /*line-height: normal;*/  /*default*/
  letter-spacing: 0.5px;
}

.effetto:hover{
  color:rgb(13, 107, 131);
  text-shadow: 8px 8px 12px rgb(4, 46, 56);
}

#links a {
  margin: 15px;  
}  

#menu {  
  display: none;  
}
  
#menu div {  
  width: 24px;  
  height: 3px;  
  background-color: white;  
  margin: 4px 0; 
}
  
@media (max-width: 1242px) {
  #links, #pulsante {
    display: none; 
  }
  
  #menu {
    display: block;  
  }
}

  /*---------------------------------------------------*/
  
  .barracolorata{  
    height: 100px;
    background-color: rgba(7, 150, 138, 0.75); 
    margin-bottom: 40px;  
    margin-top: 40px; 
    margin-left: 100px;  
    margin-right: 100px;
  }

  section {
    margin: 40px 100px;  
    text-align: center;  
  }

  section h1{   
    font-size: 2em;
    letter-spacing: 2px;
    background-color: rgba(7, 150, 138, 0.75);
    border-top: 6px solid rgba(0, 0, 0, 0.6);
    border-right: 3px solid black;
    border-left: 3px solid black;
  }

  @media (max-width: 520px) {
    .barracolorata{
      height: 60px;
      margin: 35px 15px;
    }

    section {
      margin: 35px 15px;
    }
  
    section h1{
      font-size: 1.35em;
    }
  }

  @media (min-width: 520px) and (max-width: 650px) { 
    .barracolorata{
      margin-left: 10px;
      margin-right: 10px;
    }

    section {
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  /*---------------------------------------------------*/

  .details {   
    display: flex;
    justify-content: space-between;
    align-items: center; 
    background-color: rgba(224, 224, 224, 0.2);
    border-left: 2px solid black;
    border-right: 2px solid black;
  }
  
  @media (max-width: 850px) {  
    .details {                   
      flex-direction: column;
    }
  }

  .details h1 {
    color: rgb(0, 0, 0, 0.7);
    /*font-weight: bold;*/
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    /*font-size: 2em;*/
    /*text-align: center*/
    border-bottom: 6px solid rgba(0, 0, 0, 0.8);
  }

  @media (max-width: 520px) {
    .details h1 {
      letter-spacing: 1.5px;
      font-size: 1em;
    }
  }

  .titolo {  
    color: rgba(0, 0, 0, 1);   
    font-family: 'Josefin Sans', sans-serif;
    /*font-weight: bold;*/
    font-style: italic;
    font-size: 1.4em;
    /*text-align: center*/
    line-height: 55px;
    text-decoration: underline; 
  }

  @media (max-width: 520px) { 
    .titolo{
      font-size: 1.2em;
      line-height: 35px;
    }
  }   
  
  .details div {
    flex-grow: 1;  
    padding: 40px; 
  }
  
  .details img {
    width: 80%;
    border: 1px solid black;  
    margin-bottom: -20px;  
  }

  /*---------------------------------------------------*/
  
  section #googlemaps a{  
    display: flex;
    border: 2px solid black;
    justify-content: center;
    background-color: rgba(136, 136, 136, 0.1);
}

  /*DIMENSIONI FOTO GOOGLE MAPS*/
  #googlemaps img{
  width: 80%;
  height: 80%;
  border: 1px solid black;
}

@media (max-width: 520px) {
  #googlemaps img{
    width: 100%;
    height: 100%; 
  }
}

   /*---------------------------------------------------*/
   
  footer {
    background-color: rgb(19, 146, 155);
    position: relative;
    color: rgba(255, 255, 255, .8); 
    font-family: 'Libre Baskerville', sans-serif;
    font-weight: normal;
    font-size: 1.1em;

    padding: 20px; 
    height: 125.6x;
    text-align: center; 
    border-top: 1px solid black;
  }

  @media (max-width: 520px) {  
    footer {
      height: 10%;
      font-size: 0.8em;
      padding: 10px;
    }
  }
  
  footer #trovaci{
    /*color già specificato sopra in footer*/
    font-family: 'Libre Baskerville', 'sans-serif';
    font-weight: bold;
    font-style: italic;
    /*font-size: 1.1em;*/
    /*line-height: normal;*/  
    /*text-align: center;*/
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-top: 0;
  }

  footer .icone{ 
  margin-top: 15px;      
  }

  footer address {
    margin-top: 20px;
  }

  /*address a{  */
    /*color: rgba(255, 255, 255, .8);*/
    /*font-family: 'Libre Baskerville';*/
    /*font-weight: normal;*/
    /*font-style: italic; --> address*/
    /*font-size: 1.1em;*/
    /*text-align: center;*/
    /*line-height: normal;*/ /*default*/
  /*}*/

  address a:hover{
    text-decoration: underline;
    color: white;
  }

  #lineaconclusiva{
    color: white;
    /*font-family: 'Libre Baskerville';*/
    /*font-weight: normal;*/
    font-style: normal;
    /*font-size: 1.1em;*/
    /*text-align: center;*/
    line-height: 36px;  
    position: absolute;
    left: 0;   
    right: 0;
    background-color: rgba(15, 104, 117, 0.9);
}
   
@media (max-width: 520px) {
  address a, #lineaconclusiva {
    font-size: 0.95em;
    line-height: 24px;
  }
}
